/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

body {
    background-color: #E0FFFF; /* Light Cyan */
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: #412301d2; /* Brown */
    text-shadow: black 2px 2px 2px;
    
}

h2,
h3,
h4,
h5,
h6 {
    color: #412301d2; 
    text-shadow: black 1px 1px 1px;
}

/* Main */
#main2 {
    padding: 80px;
}



/* Hero Section */
#hero {
    background: url('../images/clearspace_hero.jpeg') no-repeat center center/ cover;
    max-height: 60vh;
}

.hero-title {
    text-align: center;
    color: #66CDAA; 
    font-size: 3em;
    font-weight: bold;
    text-shadow: black 2px 2px 2px;
    
}

.hero-text {
    text-align: center;
    color: #03f8f8; 
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: black 2px 2px 2px;
    background-color: #412301d2;
}

#hero .btn:hover {
    background-color: #412301d2;
    color: #66CDAA;
}

/* Contact Section */
#Contact {
    background: #66CDAA;
    line-height: 30PX;
}

#Contact .col-xl-4 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

/*Mental Health Conditions Section */
#mentalHealthConditions {
    background: #66CDAA;
    padding: 40px 0;
}

/* Resources Section */
#Resources {
    background: #66CDAA;
    margin: 60px 0;
    padding: 0 40px;
}

#Resources .card img {
    height: 175px;
}

/* Testimonials Section */
#testimonials{
    background: #66CDAA;
    padding: 40px 0;
}


/* FAQ Section */
.faq details {
    margin-bottom: 1rem;
  }

.faq summary {
    font-weight: bold;
    cursor: pointer;
  }

.faq p {
    margin: 0.5rem 0 0 1rem;
  }

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #412301d2;
}  

/* Media Queries */
@media screen and (min-width: 344px) {
    #Resources .card {
        min-height: 375px;
    }
    
    .hero-text {
        max-width: 85%;
        
    }
   
}


@media screen and (min-width: 768px) {
    #Resources .card {
        min-height: 391px;
    }
    
    .hero-title {
        font-size: 4rem;
    }
}

@media screen and (min-width: 822px) {
    .testimonial {
        max-height: 185px;
    }
    
}

@media screen and (min-width: 1024px) {
    .testimonial {
        max-height: 175px;
    }
    
    .hero-title {
        font-size: 6rem;
    }
}

@media screen and (min-width: 1200px) {
    #Resources .card {
        min-height: 423px;
    }
}

@media screen and (min-width: 1400px) {
    .testimonial {
        min-height: 175px;
    }
    
    #Resources .card {
        width: 294px;
    }
    
}